@font-face {
    font-family: 'Gilroy';
    src: url('https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
    url('https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Light.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif !important;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    position: relative;
}

nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    border-bottom: 2px solid #dadada;
}

#nav-ul{
    display: flex;
    gap: 3.5vw;
    align-items: center;
}

.nav-li{
    list-style: none;
    font-weight: 700;
    font-size: 1.1vw;
    transition: all 2ms ease-in 1ms;
}

.nav-li:hover{
    color: crimson;
    cursor: pointer;
}

.ri-menu-line{
    font-size: 1.5vw;
    font-weight: 800;
    display: none;
}

 nav h2{
    font-size: 1.8vw;
    font-weight: 800;
}

.my-icon{
    width: 6vw;
    font-size: 1.4vw;
    display: flex;
    gap: 2vw;
    margin-left: 3vw;
    margin-top: 2%;
}

.bag-item-count{
    background-color: crimson;
    border-radius: 50%;
    height: 0.7vw;
    width: 0.8vw;
    color: #fff;
    font-size: 0.7vw;
    position: relative;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    top: -1.6vw;
    left: 0.8vw;
}

.content{
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    position: relative;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: 220px;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.007);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0px 10px rgba(0,0,0,0.1);
    gap: 2vw;
}

.sidebar li{
    width: 100%;
    margin-left: 2vw;
    margin-top: 1vw;
    list-style: none;
    font-weight: 700;
    font-size: 1.1vw;
    transition: all 2ms ease-in 1ms;
}
.sidebar li:hover{
    color: crimson;
    cursor: pointer;
}
.sidebar button{
    margin-left: 1vw ;
    font-size: 1vw;
    padding:  0.7vw 1.4vw;
    border: none;
    border-radius: 10px;
    font-weight: 600;
}
.ri-close-line{
    font-size: 1.8vw;
    font-weight: 800;
    margin-left: 2vw;
    margin-top: 2vw;
}



footer{
    color: black;
    padding: 3% 3% 2% 3%;
    
    border-top: 1px solid #dadada;
}
.footer1{
    
    display: flex;
   justify-content: space-between;
    
}

.col1{
    margin-left: 3vw;
}

.media-icons a{
border: 2px solid rgb(27, 27, 27);
border-radius: 50%;
width: 2vw;
height: 2vw;
padding: 2%;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.3vw;
padding: 2%;
transition: 200ms;
}
.media-icons a:first-child:hover{
    background-color:#fff;
    color:  rgb(20, 88, 236);
}
.media-icons a:nth-child(2):hover{
    background-color: black;
    color: #fff;
}
.media-icons a:nth-child(3):hover{
   background-color: #fff;
   background: -webkit-linear-gradient(280deg,rgb(165, 5, 165), rgb(243, 194, 61));
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.media-icons a:nth-child(4):hover{
    background-color: #fff;
    color:  rgb(20, 88, 236);
}
.col1 h4{
    font-weight: 900;
    font-size: 1.8vw;
}

.media-icons{
    display: flex;
    gap: 0.7vw;
    margin-top: 20%;
}


.col2 {
    display: flex;
    gap: 3vw;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 0.3vw;
}
.menu a{
    font-size: 0.9vw;
    font-weight: 600;   
}

.menu h4,
.col3 h4{
    font-size: 1.4vw;
}

.col2 a ,
.col1 a,
.service-icons a{
    text-decoration: none;
    color: rgb(39, 38, 38);
}

.col2 a:hover{
  color: #8a8383;
}
.col3{
    line-height: 1vw;
    max-width: 30vw;
}
.col3 p{
    margin-top: 2%;
    font-size: 0.8vw;
    font-weight: 550;
}
.contanier{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}
.contanier p{
    font-size: 0.8vw;
}

.service-icons{
    display: flex;
    gap: 1vw;
}




@media (max-width:700px) {
    nav{
        padding: 0 6vw;
        height: 60px;
    }


    nav h2{
        font-size: 5.3vw;
    }

    .nav-li{
        font-size: 4vw;
        display: none;
    }

    .ri-menu-line{
        display: block;
        font-size: 4.5vw;
    }

    .ri-close-line{
        font-size: 4.5vw;
    }
    .sidebar li{
        font-size: 4.5vw;
    }
    .sidebar{
        gap: 5vw;
    }
    .sidebar button{
        font-size: 3vw;
        padding: 2vw 3vw;
    }
    #b2{
        display: none;
    }
    
    .my-icon{
        width: 6vw;
        font-size: 4vw;
        display: flex;
        gap: 3vw;
        margin-right: 4vw;
        margin-top: 4%;
    }
    
    .bag-item-count{
        background-color: crimson;
        border-radius: 50%;
        height: 1.5vw;
        width: 1.4vw;
        color: #fff;
        font-size: 1.6vw;
        position: relative;
        display: flex;
        justify-content: space-around;
        text-align: center;
        font-weight: 700;
        cursor: pointer;
        top: -4vw;
        left: 2.6vw;
    }
    
    .content{
        height: calc(100% - 60);
        flex-direction: column;
    }
    

 footer{
    padding-top: 6% ;
 }
.footer1{
    flex-direction: column;
    margin-left: 4%;
}
.media-icons a{
    font-size: 4.3vw;
    padding: 3%;
    transition: 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .media-icons{
        display: flex;
        gap: 1.6vw;
        margin-top: 4%;
    }
.col1{
    margin-left: -1%;
}
    .col1 h4{
        font-weight: 800;
        font-size: 6vw;
    }

    .col2 {
        margin-top: 7%;
        display: flex;
        gap: 6vw;
    }
    .menu{
        display: flex;
        flex-direction: column;
        gap: 0.7vw;
    }
    .menu a{
        font-size: 2.6vw;
        font-weight: 600;   
    }
    
    .menu h4,
    .col3 h4{
        font-size: 4vw;
    }
    
    .col3{
        margin-top: 7%;
        line-height: 3vw;
        max-width: 70vw;
    }
    .col3 p{
        margin-top: 5%;
        font-size: 2.8vw;
        font-weight: 550;
    }
    .contanier{
        margin-top: 8%;
        display: flex;
       align-items: center;
        flex-direction: column;
    }
    .contanier p{
        font-size: 3vw;
    }
    
    .service-icons{
        display: flex;
        gap: 1.8vw;
    }
}

@media (max-width:400px){
    .sidebar{
        width: 70%;
    }
}


.items-container{
    width: 80%;
    margin: 6% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.item-container{
     width: 13vw;
     margin-top: -4%;
     margin-left: -1%;
}

.item-image{
      width: 100%;
}

.rating{
      font-size: 0.7vw;
      font-weight: 700;
}
.company-name{
    margin-top: 6%;
    font-size: 0.9vw;
    font-weight: 700;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 4%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.item-name{
     color: #53535766;
     font-size: 0.8vw;
     line-height: 1;
     margin-bottom: 0;
     margin-top: 0;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     font-weight: 400;
     display: block;
}
.price{
    font-size: 0.8vw;
    line-height: 15px;
    color: #282c3f;
    white-space: nowrap;
    margin-top: 0.5vw;
}
.current-price{
    font-size: 0.8vw;
    font-weight: 400;
    color:#282c3f;
}
.original-price{
    text-decoration: line-through;
    color: #7e818c;
    font-weight: 400;
    font-size: 0.6vw;
}
.discount{
    color: #ff905a;
    font-weight: 400;
    font-size: 0.6vw;
    margin-left: 0.3vw;
}
.btn-add-bag{
    background-color: rgb(66, 174, 207);
    border: none;
    padding: 1.2% 1.5%;
    margin-top: 3%;
    font-size: 1vw;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}